body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #565657;
}

a {
  color: #3e92ba;
}
a:hover, a:active {
  color: #d12a2e;
}
a:hover {
  text-decoration: none;
}

div.level1, div.level2, div.level3, div.level4, div.level5, div.level6 {
  margin-top: 0;
}

.h1,.h2,.h3,.h4,.h5,.h6,
h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0;
}

h1, h1 a {
  font-size: 21pt;
  font-weight: bold;
  /* color: #565657 */
  color: #da7e27;
  text-transform: uppercase;
}


h2, h2 a {
  font-size: 18pt;
  font-weight: bold;
  color: #3e92ba;
  text-transform: uppercase;
}

h3, h3 a {
  font-size: 14pt;
  font-weight: bold;
  color: #da7e27;
  text-transform: uppercase;
}

h4, h4 a {
  font-size: 12pt;
  font-weight: bold;
  color: #565657;
  text-transform: uppercase;
}

h5, h5 a {
  font-size: 12pt;
  font-weight: bold;
  color: #565657;
  text-transform: none;
}

h6 {
  font-size: 12pt;
  font-weight: bold;
  color: #565657;
  margin-bottom:0;
  text-transform: none;
}

.table table.table {
  /* ne fonctionne pas */
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 1px; 
  border-style: solid; 
  border-color: #D5C9B3;
}

pre {
  font-size: 10pt;
  background-color: #D5C9B3;
}

del {
  color: #999;
}

.content {
}

img.medialeft {
  /* ne fonctionne pas */
  float: left;
  margin: 15px 5px 5px 5px;
}

img.mediaright {
  /* ne fonctionne pas */
  float: right;
  margin: 5px 5px 5px 15px;
}

/* Citation */

.citation {
  page-break-inside: avoid;
  margin-top: 30px;
  /* border-top: 2px solid #d5c9b3; */
}

/* Headers & footers */

table.header-first {
}

table.pager {
  clear: both;
  font-size: 10pt;
}

table.sig {
  font-size: 10pt;
}

table.sig .coord-left {
  width: 62px;
}

table.sig .coord-email {
  width: 175px;
}

table.sig .coord-tel {
  width: 175px;
}

table.sig .coord-web {
}

table.sig .coord-right {
}
